<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="custom_nav_img"><!--Sets the book bg-->
    <div class="custom_nav_lighten"><!--Lightens book pic-->
      <a class="custom_title navbar-brand" href="/">Paperstacks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" href="/genres">Genres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">About</a>
          </li>
        </ul>
        <form class="form-inline mr-4 mb-2">
          <input class="form-control" type="text" placeholder="Search ISBN / Title / Author">
        </form>
      </div>
    </div>
  </div>
</nav>
