{% extends 'layout.html' %}

{% block body %}
  <div class="container mt-5 mb-2 clear-top">
    <p class="lead">Paperstacks is an application designed for Oregon State Unversity's CS 340 course (Introduction to Databases) during the Winter 2020 term. It is built on the Python Flask framework, deployed using Heroku, and uses a JawsDB Maria database solution.</p>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h5 class="name">Heather North-DiRuscio</h5>
        <ul>
          <li>Nifty facts</li>
          <li>oh no she's boring</li>
        </ul>
      </div>
      <div class="col">
        <h5 class="name">Kayla Smith</h5>
        <ul>
          <li>Utah is her favorite state</li>
          <li>Followed by Alabama</li>
      </div>
    </div>
  </div>
{% endblock %}
