# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
venv

db_credentials.py
node_modules/bash/.index.js.un~
node_modules/bash/.License.un~
node_modules/bash/.npmignore
node_modules/bash/.Readme.md.un~
node_modules/bash/index.js
node_modules/bash/lib/.bash.js.un~
node_modules/bash/lib/bash.js
node_modules/bash/License
node_modules/bash/package.json
node_modules/bash/Readme.md
node_modules/bash/test/.common.js.un~
node_modules/bash/test/.test-bash.js.un~
node_modules/bash/test/.test-escape.js.un~
node_modules/bash/test/common.js
node_modules/bash/test/test-bash.js
node_modules/flask/.npmignore
node_modules/flask/bower.json
node_modules/flask/changelog.md
node_modules/flask/package.json
node_modules/flask/readme.md
node_modules/flask/sass/_flask.scss
node_modules/flask/sass/core/_core.scss
node_modules/flask/sass/core/debug/_flask-error.function.scss
node_modules/flask/sass/font/_font-fallback.function.scss
node_modules/flask/sass/font/_font-family-key.function.scss
node_modules/flask/sass/font/_font-family.function.scss
node_modules/flask/sass/font/_font-family.mixin.scss
node_modules/flask/sass/font/_font-feature-settings.mixin.scss
node_modules/flask/sass/font/_font-modifiers.mixin.scss
node_modules/flask/sass/font/_font-name.function.scss
node_modules/flask/sass/font/_font-stack.function.scss
node_modules/flask/sass/font/_font-type.function.scss
node_modules/flask/sass/font/_font.mixin.scss
node_modules/flask/sass/font/_font.scss
node_modules/flask/sass/palette/_palette-color-key.function.scss
node_modules/flask/sass/palette/_palette.function.scss
node_modules/flask/sass/palette/_palette.scss
node_modules/python3/package.json
package-lock.json
