<!-- Footer -->
<footer class="page-footer text-light fixed-bottom font-small bg-dark pt-1 pb-1">
  <!-- Copyright -->
  <div class="footer-copyright text-center mt-0">© 2020 Copyright:
    <a href="https://github.com/wrongenvelope" class="text-light" target="_blank">Heather DiRuscio</a> and
    <a href="https://github.com/smithkaylar" class="text-light" target="_blank">Kayla Smith</a> |
    <a href="/privacy" class="text-light">Privacy Policy</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
