<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar navbar-expand-md navbar-light">
  <a class="custom_title navbar-brand" href="/">Paperstacks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <!-- Ratings & Reviews Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/books">Rate & Review</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/add_book">Remove Ratings</a>
        </div>
      </li>
      <!-- Dropdown -->

      <!-- Books Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Books & Authors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/books">See All Books</a>
          <a class="dropdown-item" href="/sample_book">Sample Book</a>
          <a class="dropdown-item" href="/add_book">Add Book</a>
          <a class="dropdown-item" href="/rem_book">Remove Book</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/sample_author">Sample Author</a>
          <a class="dropdown-item" href="/add_author">Add Author</a>
          <a class="dropdown-item" href="/rem_author">Remove Author</a>
        </div>
      </li>
      <!-- Dropdown -->

      <!-- Books Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/genres">All Genres</a>
          <a class="dropdown-item" href="/sample_genre">Sample Genre</a>
          <a class="dropdown-item" href="/add_genre">Add Genre</a>
          <a class="dropdown-item" href="/rem_genre">Remove Genre</a>
        </div>
      </li>
      <!-- Dropdown -->

      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 custom-search-bar">
      <input class="form-control mr-sm-1" type="search" placeholder="Find a book..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <!-- <div class="custom_nav_img">
    <div class="custom_nav_lighten">
    </div>
  </div> -->
