/* navbar styles */
.navbar {
	padding: 0;
}

.custom_nav_img {
	background-image: url("patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
	background-size: 100% Auto;
	width: 100%;
	height: 100%;
}

.custom_nav_lighten {
	background-color:rgba(248,247,216,0.5);
  width:100%;
  height:100%;
}

.custom_title {
	padding:20px;
	padding-left:20px;
	font-size: 34px;
	font-family: 'Avenir', Helvetica, Arial, sans-serif!important;
	font-weight: bold;
}

.custom_title:hover {
}

.nav-item {
	font-weight: bold;
	background-color: #3fdbe0;
	margin-left: 10px;
	margin-bottom: 10px;
	opacity: 1!important;
}

.nav-item:hover {
	background-color: #305566;
}

/* misc styles */
.content {
	height: 500px;
	font-family: sans-serif;
}

.subheader {
	text-align:center;
	padding-left: 30px;
}

/* doesn't work... was trying to get images on
	dynamically generated pages...*/
/* .book-cover {
	background-image: url("../static/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
	background-size: 100% Auto;
	width: 42px;
	height: 42px;
} */

.left-half {
	float:left;
}

.right-half {
	float:right;
	width: 400px;
	padding-left: 50px;
	padding-right:200px;
}

.content {
	height: 500px;
	width: 100%;
	font-family: sans-serif;
	float:left;
}

.ratings-reviews {
	padding-left:50px;
}

.header3 {
	text-align: center;
}

.rating-content {
	text-align: center;
}

/* #footer {
	padding-top: 50%;
	padding-left:30px;
	position:absolute;
} */

.name {
	font-family: 'Courier Prime', monospace;
	font-weight: 400;
	color: black !important;
}

/* Search Filter Styling */
.master-filter-container {
	max-width: 500px;
}

.first-filter-set {
	text-align: left;
}

.filter-input-container {
	padding: 5px;
}

.genre-container {
	text-align: left;
	font-size: 10.5px;
}

.custom-add-book-box {
	padding: 20px;
	background-color: #cfe8e4;
}
