/* navbar styles */
.navbar {
	padding: 0;
	min-height: 120px;
	background: url("books-vignette.jpg") repeat top left;
	background-size: 100% Auto;
}

.custom_title {
	padding:20px;
	padding-left:20px;
	font-size: 22px;
	font-family: 'Gentium Book Basic', serif; /* Removed Avenir as first because it's an expensive font to license */
	font-weight: 700;
	color: white;
}

.custom_title:hover {
}

.nav-item {
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 5px;
	background-color: white;
}

.nav-item:hover {
}

/* misc styles */
.content {
	height: 500px;
	font-family: sans-serif;
}

.subheader {
	text-align:center;
	padding-left: 30px;
}

/* doesn't work... was trying to get images on
	dynamically generated pages...*/
/* .book-cover {
	background-image: url("../static/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
	background-size: 100% Auto;
	width: 42px;
	height: 42px;
} */

.left-half {
	float:left;
}

.right-half {
	float:right;
	width: 400px;
	padding-left: 50px;
	padding-right:200px;
}

.content {
	height: 500px;
	width: 100%;
	font-family: sans-serif;
	float:left;
}

.ratings-reviews {
	padding-left:50px;
}

.header3 {
	text-align: center;
}

.rating-content {
	text-align: center;
}

/* #footer {
	padding-top: 50%;
	padding-left:30px;
	position:absolute;
} */

.name {
	font-family: 'Courier Prime', monospace;
	font-weight: 400;
	color: black !important;
}

/* Search Filter Styling */
.master-filter-container {
	max-width: 500px;
}

.first-filter-set {
	text-align: left;
}

.filter-input-container {
	padding: 5px;
}

.genre-container {
	text-align: left;
	font-size: 10.5px;
}

.custom-add-book-box {
	padding: 20px;
	background-color: #cfe8e4;
}
