/* navbar styles */
.navbar {
	padding: 0;
	min-height: 120px;
	background: url("books-vignette.jpg") repeat top left;
	background-size: 100% Auto;
}

.navbar-brand {
	padding:20px;
	padding-left:20px;
	font-size: 22px;
	font-family: 'Gentium Book Basic', serif; /* Removed Avenir as first because it's an expensive font to license */
	font-weight: 700;
	color: black;
}

.custom_title:hover {
}

.nav-item {
	font-weight: bold;
	margin-left: 4px;
	margin-bottom: 5px;
	font-size: 12px;
	background-color: white;
}

.nav-item:hover {
}

.navbar-toggler {
	margin-right: 20px;
}

.custom-search-bar {
	margin-right: 20px;
}

.custom-feature {
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	background-color: #e1ede1;
}

.custom-featured-book-title {
	font-family: 'Courier Prime', monospace;
	font-weight: 700;
	font-size: 18px;
	color: black;
}

.custom-featured-book-author {
	font-family: 'Courier Prime', monospace;
	font-weight: 400;
	font-size: 12px;
	color: black;
}

.custom-featured-book-year {

}

.custom-featured-book-genre {

}

.custom-featured-book-blurb {

}

.page-footer {
	max-height: 55px;
}

.genre-group {
	font-size: 11px;
	padding: 0;
}
/* misc styles */
.content {
	height: 500px;
	font-family: sans-serif;
}

.subheader {
	text-align:center;
	padding-left: 30px;
}

.left-half {
	float:left;
}

.right-half {
	float:right;
	width: 400px;
	padding-left: 50px;
	padding-right:200px;
}

.content {
	height: 500px;
	width: 100%;
	font-family: sans-serif;
	float:left;
}

.ratings-reviews {
	padding-left:50px;
}

.header3 {
	text-align: center;
}

.rating-content {
	text-align: center;
}

.name {
	font-family: 'Courier Prime', monospace;
	font-weight: 400;
	color: black !important;
}

/* Search Filter Styling */
.master-filter-container {
	max-width: 500px;
}

.first-filter-set {
	text-align: left;
}

.filter-input-container {
	padding: 5px;
}

.genre-container {
	text-align: left;
	font-size: 10.5px;
}

.custom-add-book-box {
	padding: 20px;
	background-color: #cfe8e4;
}

/*Add Book Styles*/
.dropdown-content {
	display:none;
}

.dropdown-content auth {
	display:none;
}

.dropdown-content auth:hover {
	background-color:#f1f1f1;
}

.show {
	display:block;
}
