{% extends 'layout.html' %}

{% block body %}
  <div class="container mt-5 mb-2 clear-top">
    <p class="lead">Paperstacks is an application designed for Oregon State Unversity's CS 340 course (Introduction to Databases) during the Winter 2020 term. It is built on the Python Flask framework, deployed using Heroku, and uses a JawsDB Maria database solution.</p>
  </div>
  <div class="container mt-5 mb-3">
    <div class="row">
      <div class="col">
      	<img src='../static/heather.jpg' height="200" width="300">
        <h5 class="name">Heather North-DiRuscio</h5>
        <p> Heather is a second-year student in Computer Science at Oregon State University based in Corvallis. Heather completed the Warrior-Scholar Project while transitioning out of the Navy, where she served as an Arabic linguist. In her free time, she likes CTF challenges, traveling, gardening, beach-combing, and gaming.
        </p>
      </div>
      <div class="col">
      	<img src='../static/kayla.jpg' height="200" width="200">
        <h5 class="name">Kayla Smith</h5>
        <p>Kayla is a post-baccalaureate Computer Science student at Oregon State University. During her time in the program she has lived in Indiana, Alabama, and Utah.  Pre-OSU, Kayla obtained a bachelor's degree in Anthropology and Telecommunications from Indiana University. When not coding or packing up to move to the next town, she likes shooting photographs, creating digital art, going to concerts, and talking about how she should pick the saxophone back up.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
