{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center mt-4">

    <h2 class="name">Rate and Review</h2>

      <div class="form-group">
        <label for="user-book-review">Book Title</label>
        <select class="form-control" id="user-book-review">
          {% for book in books %}
          <option value="{{book.id}}">{{book.title}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="filter-rating">Your Rating</label>
        <select class="form-control" id="user-rating">
          <option value="five-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
          <option value="four-stars">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
          <option value="three-stars">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
          <option value="two-stars">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
          <option value="one-stars">&#9733;&#9734;&#9734;&#9734;&#9734; :(</option>
        </select>
      </div>

      <div class="filter-input-container">
        <label for="filter-author" class="filter-input-label">Review (Optional): </label>
        <input type="textarea" name="filter-author" id="filter-author" rows="4" class="filter-input form-control" style="height: 120px;" placeholder="Write a descriptive review that will help other readers">
      </div>

      <button id="filter-update-button" class="action-button btn btn-primary mt-4 px-4">Submit</button>
  </div>
{% endblock %}
