{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center mt-4 mb-4">
    <div class="genre-box container">

      <h2 class="name">Add New Genre</h2>
      <form id="add-genre-form" action="/add_genre" method="post">
          <div class="form-group">
            <label for="new-genre-name">Genre Name:</label>
            <input type="text" name="genre_name" class="form-control input-lg" id="add-genre-field" placeholder="YA Novels" required="required">
          </div>
          <button type="submit" id="add-genre-button" class="action-button btn btn-primary mt-4 px-4">Add Genre to Paperstacks</button>
      </form>

    </div>
  </div>
{% endblock %}
