{% extends 'layout.html' %}

{% block body %}
  <div class="custom-add-book-box jumbotron text-center mt-4 mb-4">
    <h2 class="name">Add New Genre: </h2>
        <div class="filter-input-container">
          <label for="filter-text" class="filter-input-label">Name:  </label>
          <input type="text" name="filter-text" id="filter-text" class="filter-input" placeholder="Vegan Historical Romance">
        </div>
        <button id="filter-update-button" class="action-button">Add Genre to Paperstacks</button>
  </div>
{% endblock %}
