{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center mt-4">
      <h3 class="subheader"> {{book.title}} </h3>
        <div class="left-half">
          <div class="book-cover"></div>
            <p>by {{book.author}}</p>
            <p><b>Genre:</b> {{book.genre}}<br>
            <b>Year Published:</b> {{book.year_published}}<br>
              <b>ISBN:</b> {{book.isbn}}
            </p>
          </div>

        <div class="right-half" align="right">
          <p> {{book.blurb}}
          </p>
        </div>
    </div>
  <div class="jumbotron text-center mt-4">
    <div class="ratings-reviews">
      <h3 class="header3"> Ratings</h3>
      <p class="rating-content"> Average rating: [avg] out of [#] of reviews &star; &star; &star; &star; &star;
      </p>

      <h3 class="header3">Reviews</h3>
      <p class="review-content">
        [for each review, add field here]
      </p>
    </div>
  </div>

{% endblock %}
