<!-- For Basic Page Display: -->
<!-- 'book' with keys: [isbn, book_title, year_published, book_description, genre_name] -->
<!-- 'authors' with keys: [author_name, author_id] -->

<!-- For Reviews/Ratings: -->
<!-- 'reviews' with keys: [isbn, rating_id, review_id, review_date, review_content] -->
<!-- 'ratings_with_reviews' with keys: [isbn, rating_id, review_id, star_rating, rating_date, review_content] -->
<!-- 'ratings' with keys: [isbn, rating_id, review_id, star_rating, rating_date] -->
<!-- If stars ratings, gets strings: 'int_avg', 'float_avg', 'rating_count' -->

<!-- For Edit Book Modal: -->
<!-- Gets dictionary 'all_authors' with keys: [author_id, author_name] -->
<!-- Gets dictionary 'all_genres' with keys: [genre_id, genre_name] -->

<!-- May get 'code_msg' string for POST method success and failure notices -->

<!-- Need additional logic to display multiple authors -->

{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center mt-4">

    {% if code_msg is defined %}
      <div class="row mt-2 mb-2" id="notification">
        <ul>
          <li class="list-group-item bg-primary text-light px-4">{{ code_msg }} <button onclick="close_notification()" class="btn ml-5 text-light"><b>&times;</b></button></li>
        </ul>
      </div>
    {% endif %}

  <script language="javascript">
    function close_notification() {
      var x = document.getElementById("notification");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>

    <!-- <div class="col">
      <div class="book-cover">
        <img src= {{ url_for('static', filename = '../static/crayons-quit.jpg') }} width="400" height="400" alt="previous" title="Previous" border="0">
      </div>
    </div> -->
    <div class="row mt-4">
      <h3 class="name">{{ book[0]['book_title'] }}</h3>
    </div>
    <div class="row mt-4">
      <h5>by
        {% if authors|length %}
          {% for author in authors %}
            <a href="/author/{{ author['author_id'] }}/">{{ author['author_name'] }}</a>
            {% if not loop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          Unknown
        {% endif %}
      </h5>
    </div>
    <div class="row mt-4">
      <p class="text-left">
        {% if rating_count != None %}
          <b>Average Rating:
            {% if int_avg == 5 %}
              &#9733;&#9733;&#9733;&#9733;&#9733;
            {% elif int_avg == 4 %}
              &#9733;&#9733;&#9733;&#9733;&#9734;
            {% elif int_avg == 3 %}
              &#9733;&#9733;&#9733;&#9734;&#9734;
            {% elif int_avg == 2 %}
              &#9733;&#9733;&#9734;&#9734;&#9734;
            {% else %}
              &#9733;&#9734;&#9734;&#9734;&#9734;
            {% endif %}
             stars,</b> ({{ float_avg }}/5 from {{ rating_count }} ratings)<br>
        {% else %}
          <b>Average Rating:</b> (not enough ratings to calculate average)<br>
        {% endif %}

        <b>Genre(s):</b>
              {% for genre in book|map(attribute='genre_name')|unique|list %}
                {{ genre }}
                {% if not loop.last %}, {% endif %}
              {% endfor%}<br>
        <b>Year Published:</b> {{ book[0]['year_published'] }}<br>
        <b>ISBN:</b> {{ book[0]['isbn'] }}
      </p>
    </div>
      <p class="text-left"> {{ book[0]['book_description'] }}</p>

      <div class="row">
        <a href="#" id="edit-book-button" class="btn-sm btn-secondary mx-2" data-toggle="modal" data-target="#edit-book-modal">Edit Book</a>

        <form id="rem-book-button" action="/rem_book/{{ book[0]['isbn'] }}" method="post">
          <button type="submit" id="rem-book-button" class="btn-sm btn-secondary mx-2">Remove Book</button>
        </form>

      </div>

      <div class="modal hide fade" tabindex="-1" role="dialog" area-labelledby="Edit Book" area-hidden="true" id="edit-book-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="editBook" method="post" action="/edit_book/{{ book[0]['isbn'] }}/">

                <label for="update_title">Update Title:</label>
                <textarea rows="2" name="update_title" class="form-control">{{ book[0]['book_title'] }}</textarea>

                <div class="form-group mt-2">
                  <label for="update_author">Update Author(s) - select none to leave same</label>
                  <select multiple class="form-control" name="update_author" data-max-options="5">
                    {% for author in all_authors %}
                    <!-- will do this kind of thing to pre-select current authors:
                    https://python-forum.io/Thread-How-do-I-fetch-values-from-db-to-Select-Options-using-Flask-->
                    <option value="{{ author['author_id'] }}">{{ author['author_name'] }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label for="update_genre">Update Genre(s) - select none to leave same</label>
                  <select multiple class="form-control" name="update_genre" data-max-options="5">
                  {% for genre in all_genres %}
                    <option value="{{ genre['genre_id'] }}">{{ genre['genre_name'] }}</option>
                  {% endfor %}
                  </select>
                </div>
                <label for="update_year">Update Year Published:</label>
                <input type="text" name="update_year" class="form-control" value="{{ book[0]['year_published'] }}">

                <label for="update_book_description" class="mt-2">Update Book Description:</label>
                <textarea name="update_book_description" id="update_book_description" rows="8" class="form-control input-lg">{{ book[0]['book_description'] }}</textarea>

                <button id="edit-book-submit" class="btn btn-primary mt-2" type="submit">Submit</button>
              </form>
            </div><!-- end of modal body -->
          </div>
        </div>
      </div>

    <div class="row mt-4">
      <h5 class="header3 text-left mb-4">Reviews & Ratings</h5>
    </div>
      {% for review in ratings_with_reviews %}
        <h5 class="subheader text-left">Rating:
          {% if review['star_rating'] == 5 %}
            &#9733;&#9733;&#9733;&#9733;&#9733;
          {% elif review['star_rating'] == 4 %}
            &#9733;&#9733;&#9733;&#9733;&#9734;
          {% elif review['star_rating'] == 3 %}
            &#9733;&#9733;&#9733;&#9734;&#9734;
          {% elif review['star_rating'] == 2 %}
            &#9733;&#9733;&#9734;&#9734;&#9734;
          {% else %}
            &#9733;&#9734;&#9734;&#9734;&#9734;
          {% endif %}
        </h5>

        <p class="text-left">left on {{ review['rating_date'] }}</p>
        <p class="text-left"><b>Review:</b><br>
          {{ review['review_content'] }}
        </p>

        <div>
          <!-- Edit Rating Modal and Form -->
          <div class="modal" id="edit-rating-modal" tabindex="-1" role="dialog" area-labelledby="Edit Rating" area-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Rating</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>

                </div>
                <div class="modal-body">

                  <form id="editRating" method="post" action="/edit_rating/{{ review['isbn'] }}/{{ review['rating_id'] }}/">

                      <div class="form-group">
                        <label for="update_rating">Edit Rating:</label>
                        <select class="form-control" name="update_rating" value="review['star_rating']">
                          <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                          <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                          <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                          <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                          <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; :(</option>
                        </select>
                      </div>
                      <button id="edit-rating-submit" class="btn btn-primary" type="submit">Submit</button>
                  </form>

                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div><!-- end of Edit Rating Modal and Form -->

          <!-- Edit Review Modal and Form -->
          <div class="modal" id="edit-review-modal" tabindex="-1" role="dialog" area-labelledby="Edit Review" area-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>

                </div>
                <div class="modal-body">

                  <form id="editReview" method="post" action="/edit_review/{{ review['isbn'] }}/{{ review['review_id'] }}/">

                    <label for="update_review_content">Review Content:</label>
                    <input type="text" name="update_review_content" id="update_review_content" class="form-control input-lg" value="{{ review['review_content'] }}">

                    <button id="edit-review-submit" class="btn btn-primary" type="submit">Submit</button>

                  </form>

                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div><!-- End of Edit Review Modal and Form -->

          <div class="row"><!-- Div for all the buttons -->
            <a href="#edit-rating-modal" role="button" class="btn-sm btn-secondary mx-2" data-toggle="modal">Edit Rating</a>
            <a href="#edit-review-modal" role="button" class="btn-sm btn-secondary mx-2" data-toggle="modal">Edit Review</a>
            <form id="rem-review-button" action="/rem_review/{{ review['isbn'] }}/{{ review['review_id'] }}" method="post"><button type="submit" id="rem-review-button" class="btn-sm btn-outline-secondary mx-2">Remove Review</button></form>
            <form id="rem-rating-button" action="/rem_rating/{{ review['isbn'] }}/{{ review['rating_id'] }}" method="post"><button id="rem-rating-button-1" class="btn-sm btn-outline-secondary mx-2">Remove Rating</button</form>
          </div><!-- end of buttons row-->

        </div>

        <hr />

      {% endfor %}

      <!-- Page gets dictionary 'ratings' with keys: [isbn, rating_id, review_id, star_rating, rating_date] -->
      {% if ratings|length %}
      {% for rating in ratings %}
        <h5 class="subheader text-left">Rating:
          {% if rating['star_rating'] == 5 %}
            &#9733;&#9733;&#9733;&#9733;&#9733;
          {% elif rating['star_rating'] == 4 %}
            &#9733;&#9733;&#9733;&#9733;&#9734;
          {% elif rating['star_rating'] == 3 %}
            &#9733;&#9733;&#9733;&#9734;&#9734;
          {% elif rating['star_rating'] == 2 %}
            &#9733;&#9733;&#9734;&#9734;&#9734;
          {% else %}
            &#9733;&#9734;&#9734;&#9734;&#9734;
          {% endif %}
        </h5>

        <p class="text-left">left on {{ rating['rating_date'] }}</p>
        <div>

          <!-- Edit Rating Modal (for ratings without reviews) -->
          <div class="modal" id="edit-rating-modal-2" tabindex="-1" role="dialog" area-labelledby="Edit Rating" area-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Rating</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                <form id="editRating2" method="post" action="/edit_rating/{{ rating['isbn'] }}/{{ rating['rating_id'] }}/">
                  <div class="form-group">
                    <label for="update_rating">Edit Rating:</label>
                    <select class="form-control" name="update_rating" value="rating['star_rating']">
                      <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                      <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                      <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                      <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                      <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; :(</option>
                    </select>
                  </div>
                  <button id="edit-rating-submit" class="btn btn-primary" type="submit">Submit</button>
                </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="" data-dismiss="modal">Save Changes</button>
                </div>
              </div>
            </div>
          </div><!-- end of edit rating modal (for ratings without reviews) -->

          <a href="#edit-rating-modal-2" role="button" class="btn-sm btn-outline-secondary mx-2" data-toggle="modal">Edit Rating</a>

          <form id="rem-rating-button-2" action="/rem_rating/{{ rating['isbn'] }}/{{ rating['rating_id'] }}" method="post">
            <button type="submit" id="rem-rating-button-2" class="btn-sm btn-outline-secondary mx-2">Remove Rating</button>
          </form>

        </div>
        <hr />
      {% endfor %}
      {% endif %}

      <!-- Page gets dictionary 'reviews' with keys: [isbn, rating_id, review_id, review_content, review_date] -->
      {% if reviews|length %}
        {% for review in reviews %}
        <div>
          <p class="text-left"><b>Review left on {{ review['review_date'] }}:</b></p>
          <p class="text-left">{{ review['review_content'] }}</p>

          <a href="#edit-rev" role="button" class="btn-sm btn-secondary mx-2" data-toggle="modal">Edit Review</a>

          <form id="rem-rev" action="/rem_review/{{ review['isbn'] }}/{{ review['review_id'] }}" method="post">
            <button type="submit" id="rem-rev" class="btn-sm btn-secondary mx-2">Remove Review</button>
          </form>

          <!-- Edit Review Modal and Form: ONLY for Reviews without Ratings -->
          <div class="modal" id="edit-rev" tabindex="-1" role="dialog" area-labelledby="Edit Review" area-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>

                </div>
                <div class="modal-body">

                  <form id="editReview" method="post" action="/edit_review/{{ review['isbn'] }}/{{ review['review_id'] }}/">

                    <label for="update_review_content">Review Content:</label>
                    <input type="text" name="update_review_content" id="update_review_content" class="form-control input-lg" value="{{ review['review_content'] }}">

                    <button id="edit-review-submit" class="btn btn-primary" type="submit">Submit</button>

                  </form>

                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div><!-- End of Edit Review Modal and Form -->

          <hr>
        </div>
        {% endfor %}
      {% endif %}

      {% if (reviews|length == 0) and (ratings|length == 0) and (ratings_with_reviews|length == 0) %}
        <p class="text-left"> No reviews or ratings yet! Why don't you leave one?</p>
      {% endif %}
        <a href="#add-review-modal" role="button" class="btn btn-primary mx-2" data-toggle="modal">Add Your Review</a>

        <!-- Add Your Review Modal and Form -->
        <div class="modal" id="add-review-modal" tabindex="-1" role="dialog" area-labelledby="Edit Rating" area-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">New Review of {{ book[0]['book_title'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div><!-- end of modal header -->
              <div class="modal-body">
                <!-- add review modal form -->
                <form id="addReview" method="post" action="/add_review">
                  <input type="hidden" name="author_book" value="{{ book[0]['isbn'] }}">
                  <div class="form-group">
                    <label for="user_rating">Star Rating:</label>
                    <select class="form-control" name="user_rating">
                      <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                      <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                      <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                      <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                      <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="user_review">Review (optional):</label>
                    <textarea name="user_review" rows="4" class="form-control input-lg" placeholder="Write your review here to help other Paperstacks readers find good books!"></textarea>
                  </div>

                  <button id="add-review-submit" class="btn btn-primary" type="submit">Submit</button>
                </form><!-- end of add review modal form -->
              </div>
            </div>
          </div>
        </div><!-- end of Add Your Review Modal and Form -->
    </div><!-- end page container -->


{% endblock %}
