<!-- Receives dictionary 'genreinfo' with keys [genre_id, genre_name, isbn, book_title] -->

{% extends 'layout.html' %}

{% block body %}

  <div class="container mt-5 mb-5">
    <h4 class="name">Genre: {{ genreinfo[0]['genre_name'] }}
    <div class="mt-3">
      <ul>
      {% for item in genreinfo %}
      <li class="list-group-item small"><a href="book/{{ item['isbn'] }}">{{ item['book_title'] }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div>
      <button id="edit-genre-button" class="btn btn-primary mx-2 mt-2">Edit Genre</button>
      <form id="rem-genre" action="/rem_genre/{{ genreinfo[0]['genre_id'] }}" method="post">
        <button type="submit" id="rem-genre-button" class="btn btn-primary mx-2 mt-2">Remove Genre</button>
      </form>
    </div>
  </div>

{% endblock %}
