{% extends 'layout.html' %}

{% block body %}

  <div class="container mt-5 mb-5">
    <h4 class="name">Books in Genre:
      {% for genre in genres %}
        {% if id == genre.id %}
          {{genre.name}}
        {% endif %}
      {% endfor %}
    </h4>

    <ul class="list-group">
        <li class="list-group-item">
          {% for book in books %}
            {% if id == book.genre_id %}
              <p><a href="book/{{book.id}}">{{book.title}}</a></p>
            {% endif %}
          {% endfor %}
        </li>
    </ul>
    <div>
      <button id="edit-genre-button" class="btn btn-primary mx-2 mt-2">Edit Genre</button>
      <button id="rem-genre-button" class="btn btn-primary mx-2 mt-2">Remove Genre</button>
    </div>
  </div>

{% endblock %}
