<!-- Receives dictionary 'genres' with keys [genre_id, genre_name] -->
<!-- Receives dictionary 'books' with keys [isbn, book_title, genre_id] -->

{% extends 'layout.html' %}

{% block body %}

  <div class="container mt-5 mb-5">
    <h4 class="name">All Genres</h4>

    <ul class="list-group">
      {% for genre in genres %}
        <li class="list-group-item">
          <h5><a href="genre/{{ genre['genre_id'] }}"> {{ genre['genre_name'] }} </a></h5>
          {% set gid = genre['genre_id'] %}
          {% for book in books %}
            {% if gid == book['genre_id'] %}
              <ul>
                <li><a href="book/{{ book['isbn'] }}">{{ book['book_title'] }}</a></li>
              </ul>
            {% endif %}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
