{% extends 'layout.html' %}

{% block body %}

  <div class="container mt-5 mb-5">
    <h4 class="name">All Genres</h4>

    <ul class="list-group">
      {% for genre in genres %}
        <li class="list-group-item">
          <h5><a href="genre/{{genre.id}}">{{genre.name}}</a></h5>
          {% set gid = genre.id %}
          {% for book in books %}
            {% if gid == book.genre_id %}
              <ul>
                <li><a href="book/{{book.id}}">{{book.title}}</a></li>
              </ul>
            {% endif %}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
