<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<title>Paperstacks</title>
		<link rel="shortcut icon" href="/static/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-2.1.1.min.js"
      integrity="sha256-h0cGsrExGgcZtSZ/fRz4AwV+Nn6Urh/3v3jFRQ0w9dQ="
      crossorigin="anonymous"></script>
    <script language="javascript">
      function showAuthors() {
        document.getElementById("author_down").classList.toggle("show");
      }

      function filterAuthors() {
        console.log("filterAuthors function called")
        let input = document.getElementById("author_drop_search");
        let filter = input.value.toUpperCase();
        let div = document.getElementById("author_down");
        let auth = div.getElementsByTagName("auth");
        let i = 0;
        for (i = 0; i < auth.length; i++) {
          textVal = auth[i].textContent || auth[i].innerText;
          if (textVal.toUpperCase().indexOf(filter) > -1) {
            auth[i].style.display="";
          } else {
            auth[i].style.display = "none";
          }
        }

       }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Stylesheet path is randomized so that Chrome will stop being an asshole trying to cache CSS and not reload it after changes are made -->
    <!--changing it back for testing because everything is broken 3/6 add this back on to re-randomize: ?v=<?=time();?>-->
    <link rel="stylesheet" href="/static/custom.css?v=<?=time();?">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
		{% include 'includes/_footer.html' %}
    <!-- Why are these three links here? See: https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
