{% extends 'layout.html' %}

{% block body %}
  <div class="custom-add-book-box jumbotron text-center mt-4">
    <h2 class="name">Remove Book: </h2>
    <div class="filter-input-container">
      <label for="filter-remove-book" class="filter-input-label">Title: </label>
      <select name="remove-book-selection">
        {% for book in books %}
        <option value="{{book.id}}">{{book.title}}</option>
        {% endfor %}
      </select>
    </div>
    <button id="filter-update-button" class="action-button">Remove from Paperstacks</button>

  </div>
{% endblock %}
