{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center mt-4">
    <div class="row">
      <div class="col">
        <div class="book-cover">
          <img src= {{ url_for('static', filename = '../static/crayons-quit.jpg') }} width="400" height="400" alt="previous" title="Previous" border="0">
        </div>
      </div>
      <div class="col">
        <h3 class="subheader"> "I quit before the crayons did..."</h3>
        <p><b>User:</b> Mystery Man on <b>2/9/2020</b></p>
				<p><b>Rating:</b> &#9733;&#9734;&#9734;&#9734;&#9734; <br></p>
				<p><b>Book Title:</b> The Day the Crayons Quit<br>
        <p><b>Review:</b> I was promised a post-modern exploration of consumer isolation in the style of Proust, illustrating the sorrow of a colorful cast of workaday writing utensils, that, as they edge closer to their inevitable expiration, stage a mutiny--the likes of which the world has never seen. Shamefully, this book is a juvenile attempt at satire, falling far short of delivering on its premise. You'll find yourself wanting to quit long before the crayons do.
        </p>
        <button id="edit-rating" class="btn btn-secondary btn-sm" onclick="">Edit Rating</button>
        <button id="delete-rating" class="btn btn-secondary btn-sm" onclick="">Delete Rating</button>
      </div>
		</div>
  </div>

{% endblock %}
