<script language="javascript">
</script>

{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center mt-4">
    <div class="row">
      <div class="col">
        <div class="book-cover">
          <img src= {{ url_for('static', filename = '../static/crayons-quit.jpg') }} width="400" height="400" alt="previous" title="Previous" border="0">
        </div>
      </div>
      <div class="col">
        <h3 class="subheader"> "I quit before the crayons did..."</h3>
        <p><b>User:</b> Mystery Man on <b>2/9/2020</b></p>
				<p><b>Rating:</b> &#9733;&#9734;&#9734;&#9734;&#9734; <br></p>
				<p><b>Book Title:</b> The Day the Crayons Quit<br>
        <p><b>Review:</b> I was promised a post-modern exploration of consumer isolation in the style of Proust, illustrating the sorrow of a colorful cast of workaday writing utensils, that, as they edge closer to their inevitable expiration, stage a mutiny--the likes of which the world has never seen. Shamefully, this book is a juvenile attempt at satire, falling far short of delivering on its premise. You'll find yourself wanting to quit long before the crayons do.
        </p>
        <button id="edit-review" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edit-review-modal">Edit Review</button>
        <button id="delete-review" class="btn btn-secondary btn-sm" onclick="">Delete Review</button>
    </div>
		</div>
  </div>
   <div class="modal" tabindex="-1" role="dialog" area-labelledby="Edit Review" area-hidden="true" id="edit-review-modal">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div>
                    <label for="update-book" class="filter-input-label">Update Associated Book: </label>
                    <input type="text" name="update-book" id="update-book" class="filter-input form-control">

                    <label for="update-review-content" class="filter-input-label">Update Review Content:</label>
                    <input type="text" name="update-review-content" id="update-review-content" class="filter-input form-control" placeholder="the real review content will go here when flask is set up correctly">
                    <label for="unlink-rating" class="filter-input-label">Unlink Associated Rating:</label>
                    <input type="checkbox" name="unlink-rating" id="unlink-rating">
                  </div>
              </div> 
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="updateReview()" data-dismiss="modal">Save Changes</button>
              </div>
          </div>
      </div>
   </div>

{% endblock %}
