{% extends 'layout.html' %}

{% block body %}
	<div id="middle">
		<div class="content">
			<h2 id="subheader"> {Author Name Here} </h2>
			<div id="left-half">
				<div id="img-div">
					<img id="author-img" src="author-silhouette.jpg" alt="This will be an image of the author" width="300" height="300">
					<p>{Author Name}</p>
				</div>
			</div>

			<div id="right-half" align="right">
				<p> {Author blurb here, it'll be like a whole paragraph}
				</p>
			</div>
		</div>

		<div id="author-book-list">
			<h3 id="header3">
				Books by {Author}
			</h3>
			<p id="lowercontent">

			 <a href="/books.html">{List book here}</a>
			</p>
		</div>
	</div>
{% endblock %}
