<!-- Receives dictionary 'genres' with keys [genre_id, genre_name] -->

{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron mt-4 mb-4">
    <h2 class="name mb-4">Book Search</h2>
    <form>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="filter-text">Title or Keyword</label>
            <input type="text" class="form-control" id="filter-text" placeholder="The Help">
          </div>
          <div class="form-group">
            <label for="filter-text">Author</label>
            <input type="text" class="form-control" id="filter-author" placeholder="Elizabeth Gilbert">
          </div>
          <div class="form-group">
            <label for="filter-text">ISBN-10</label>
            <input type="text" class="form-control" id="filter-isbn" placeholder="98735513209">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="filter-year">Year Published</label>
            <input type="text" class="form-control" id="filter-year" placeholder="2003">
          </div>
          <div class="form-group">
            <label for="filter-rating">Average Rating</label>
            <select class="form-control" id="filter-rating">
              <option value="null"></option>
              <option value="five-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
              <option value="four-stars">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
              <option value="three-stars">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
              <option value="two-stars">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
              <option value="one-stars">&#9733;&#9734;&#9734;&#9734;&#9734; :(</option>
            </select>
          </div>
          <div class="form-group">
            <label for="filter-has-reviews" class="filter-input-label">Has Reviews? </label>
            <input type="checkbox" name="filter-reviews" id="filter-reviews" value="has-reviews">
          </div>
        </div>
      </div>
        <div class="form-group">
          <label for="filter-genre">Genre</label>
          <select multiple class="form-control" id="filter-genre">
          {% for genre in genres %}
            <option>{{ genre['genre_name'] }}</option>
          {% endfor %}
          </select>
        </div>
      <button id="filter-update-button" class="action-button btn btn-primary mt-4 px-4">Search</button>
      </div>
    </form>
  </div>
{% endblock %}
