<!DOCTYPE html>
<html>
<head>
	<title>Paperstacks</title>
	<link rel="stylesheet" href="paperstack_style.css">
	<link rel="shortcut icon" href="favicon-16x16.png">
</head>

<body>
	<div  id="header" class="header">
		<div class="color_layer">
			<h1 id="header_title">Paperstacks</h1>
		</div>
	</div>
	<div id="middle">
		<div class="content">
			<h2 id="subheader"> {{Book Title Here}} </h2>
			<div id="left-half">
				<div id="img-div">
					<img id="boog-img" src="../static/book-img.png" alt="This will be an image of the actual book cover in the final version" width="300" height="300">
					<p>{{Book Title}} by {{Author Name}}</p>
				</div>
			</div>

			<div id="right-half" align="right">
				<p> {{Inner cover content will go here, a tale of struggle, love, and incompetence with a bittersweet resolution, this is definitely the book you should buy your mom for mother's day or whatever}}
				</p>
			</div>
		</div>

		<div id="ratings-reviews">
			<h3 id="header3"> Ratings</h3>
			<p id="rating-content"> Average rating: {{avg}} out of {{#}} of reviews &star; &star; &star; &star; &star;
			</p>

			<h3 id="header3">Reviews</h3>
			<p id="review-content">
				{{for each review, add field here}}
			</p>
		</div>
	</div>

	<div id="footer">
		<p>
			Copyright 2020 Heather DiRuscio & Kayla Smith
		</p>
	</div>

</body>

</html>
