<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
		<title>Paperstacks</title>
		<link rel="stylesheet" href="../static/paperstack_style.css">
		<link rel="shortcut icon" href="../static/favicon-16x16.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	</head>

	<body>
		{% include 'includes/_navbar.html' %}
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		{% include 'includes/_footer.html' %}
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	</body>
</html>
